/* ============ */
/* CUSTOM FONTS */
/* ============ */
@font-face {
    font-family: "Prototype";
    src: url("/fonts/prototype.ttf");
}
@font-face {
    font-family: "Oblivious";
    src: url("/fonts/oblivious.ttf");
}
@font-face {
    font-family: "Audiowide";
    src: url("/fonts/audiowide.ttf");
}




/* ================== */
/* PARRALAX SCROLLING */
/* ================== */

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  -webkit-overflow-scrolling: touch;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}




/* ========== */
/* CORE STUFF */
/* ========== */

body {
  background: url("/img/tall-background.svg") no-repeat bottom center scroll;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #070E20;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide";
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  color: #F7F5E2;
  font-family: "Prototype";
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
  }
}

a {
  color: #F7F5E2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #28A7D7;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #7ECAE7;
}




/* ====== */
/* NAVBAR */
/* ====== */

#mainNav {
  font-family: "Audiowide";
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #070E20;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: #F7F5E2;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}




/* =============== */
/* SHOOTING STARS? */
/* =============== */

.star {
  display: block;
  width: var(--starSize);
  height: var(--starSize);
  border-radius: 50%;
  background: #FFF;
  top: var(--topBefore);
  left: var(--leftBefore);
  position: relative;
  transform-origin: 100% 0;
  animation: star-ani 1s infinite ease-out;
  animation-direction: normal;
  opacity: 0;
}

.star:after {
  content: '';
  position: absolute;
  top: var(--topAfter);
  left: var(--leftAfter);
  border: 2px solid #F00;
  border-width: 2px 150px 2px 150px;
  border-color: transparent transparent transparent #FFF;
  transform: rotate(-135deg) translate3d(1px, -1px, 0);
  transform-origin: 0% 100%;
  animation: shooting-ani 1s infinite ease-out;
  animation-direction: normal;
}

@-webkit-keyframes shooting-ani {
  0% {}
  50% {
    transform: scale(1) rotate(-135deg) translate(0px, 0px);
  }
  100% {
    transform: scale(0.5) rotate(-135deg) translate(0px, -1px);
  }
}

@-webkit-keyframes star-ani {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(0) translate3d(200px, 200px, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(0) translate3d(300px, 300px, 0);
  }
}




/* ============= */
/* LOGO & HEADER */
/* ============= */

.logo {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto;
  animation: 1.5s ease-out 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("/img/website-background.svg") no-repeat bottom center scroll;
  background-color: #070E20;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font: 48px "Fira Mono", monospace;
  color:#FFEB3B;
  font-size: 28px;
  animation: 1.5s ease-out 0s 1 fadeInDelay;
  margin-top: 40px;
  margin-bottom: -20px;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 56px;
    animation: 1.5s ease-out 0s 1 fadeInDelay;
  }
}

.switcher {
  font: 48px "Fira Mono", monospace;
  overflow-x:hidden;
  color:#FFEB3B;
  text-transform: uppercase;
  user-select:none;
  cursor:default;
  padding: 20px;
}

.switcher .shift {
  display:none;
}




/* ============ */
/* BUTTON STUFF */
/* ============ */

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #28A7D7;
  border: 1px solid #28A7D7;
  background-color: transparent;
}

.btn-default:focus,
.btn-default:hover {
  color: black;
  border: 1px solid #28A7D7;
  outline: none;
  background-color: #28A7D7;
}
.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus,
.btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}




/* ==================== */
/* RANDOM SECTION STUFF */
/* ==================== */

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#about {
  border: 1px #d8d8d8;
  background-color: black;
  box-shadow: 0px 20px 50px black, 0px -20px 50px black;
  position: relative;
}

#faq {
  color: white;
  background-color: transparent;
}

#schedule {
  border: 1px #d8d8d8;
  background-color: black;
  box-shadow: 0px -20px 50px black;
  position: relative;
}

#map {
  margin: auto;
  width: 100%;
  height: 500px;
}

.info-window {
  color: #070E20 !important;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #map {
    height: 450px;
  }
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/* ======== */
/* SPONSORS */
/* ======== */

#sponsors {
  padding-bottom: 0px;
}

.sponsorlogo {
  margin: 15px;
  width: auto;
  max-width: 100%;
  filter:contrast(0%);
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:0.35s;
}

.sponsorlogo:hover {
  filter: contrast(100%);
}

@media (max-width: 768px) {
  .sponsorlogo {
    height: auto !important;
  }
  .seventyfivepercent {
    max-width: 75%;
  }
  .fiftypercent {
    max-width: 50%;
  }
}




/* ============= */
/* FOOTER SOCIAL */
/* ============= */

footer {
  text-align: center;
  color: #ddd;
  padding: 50px 0 50px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

footer a {
  color: #ddd;
}

footer a:hover {
  color: #fff;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}